<?php

$testEmailTo = '';
$testEmailSubject = '📫 SMTP Connection Test';
$testEmailBody = 'Successful email connection test. 📧';

$debug = false; // false recommended; enable to turn on PHP errors

$smtpConnections = array(
    array(
        'email' => '',
        'host' => 'smtp.sendgrid.com',
        'port' => 587,
        'username' => 'apikey',
        'password' => ''
    ),
    array(
        'email' => '@gmail.com',
        'host' => 'smtp.gmail.com',
        'port' => 587,
        'username' => '@gmail.com',
        'password' => ''
    ),
    // Add more SMTP connections as needed
);
